/* =====================================================
GENERAL
===================================================== */
.wrap {
  width: 90%;
  max-width: 11000px;
  margin: 0 auto;
}

/* =====================================================
NAVIGATION MOBILE
===================================================== */

/* =====================================================
NAVIGATION DESKTOP
===================================================== */
.nav-desktop {
  height: 80px;
  padding: 0;
}

.site-logo {
  line-height: 50px;
}

.nav-desktop .menu-desktop {
  line-height: 80px;
  background-color: transparent;
}

.menu > li > a {
  display: inline-block;
  line-height: 80px;
  padding-top: 0;
  padding-bottom: 0;
}
.menu > li > a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/* =====================================================
HERO SECTION
===================================================== */
.hero {
  background-color: #7f7fff;
  /*padding: top right bottom left; */
  padding: 200px 0px;
  height: 350px;
  background-image: url(../img/background/bgrnd.png);
  background-attachment: fixed;
}
.hero h1,
.hero p {
  max-width: 70%;
  color: snow;
}
/* =====================================================
MAIN SECTION
===================================================== */
.main {
  padding: 100px 0px;
  height: 220px;
  background-image: url(../img/background/bgrnd.png);
  background-attachment: fixed;
}
/* =====================================================
FOOTER
===================================================== */
footer {
  background-color: #7f7fff;
  padding: 100px 0px;
  background-image: url(../img/background/shattered.png);
  background-attachment: fixed;
}

footer a {
  display: block;
}

footer a span {
  font-weight: bold;
}

footer hr {
  border-color: black;
  border-color: rgba(105,105,105,0.5);
  margin: 10px 0;
}

footer h4 {
  font-size: 20px;
}
/* =====================================================
MEDIA QUERY
===================================================== */
@media screen and (max-width: 40em) {
  .top-bar-right {
    display: none;
  }
}