/* =====================================================
GENERAL
===================================================== */
.wrap {
  width: 90%;
  max-width: 11000px;
  margin: 0 auto;
}
.style {
  background: linear-gradient(130deg, #1779ba 25%, #e6e6e6 70%);
}

/* =====================================================
NAVIGATION MOBILE
===================================================== */




/* =====================================================
NAVIGATION DESKTOP
===================================================== */
.nav-desktop {
  height: 80px;
  padding: 0;
}

.site-logo {
  line-height: 50px;
}

.nav-desktop .menu-desktop {
  line-height: 80px;
  background-color: transparent;
}

.menu > li > a {
  display: inline-block;
  line-height: 80px;
  padding-top: 0;
  padding-bottom: 0;
}
.menu > li > a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/* =====================================================
HERO SECTION
===================================================== */
.hero {
  /*padding: top right bottom left; */
  padding: 100px 0px 100px 0px;
  height: 350px;
}
.hero h1,
.hero p {
  max-width: 70%;
}

textarea {
  width: 1200px;
  height: 100px;
  border: 4px solid #4B4453;
  resize: none;
  border-left: 6px;
  border-right: 6px;
  border-top: 6px;
}
.input {
  border: 4px solid #4B4453;
  border-left: 6px;
  border-right: 6px;
  border-top: 6px;

}
.form label {
  color: white;
}
.form h1 {
  color: white;
}
/* =====================================================
MAIN SECTION
===================================================== */
.main {
  padding: 150px 0px;
  height: 220px;
}
/* =====================================================
FOOTER
===================================================== */
footer {
  background-color: #7f7fff;
  padding: 100px 0px;
  background-image: url(../img/background/shattered.png);
  background-attachment: fixed;
}

footer a {
  display: block;
}

footer a span {
  font-weight: bold;
}

footer hr {
  border-color: black;
  border-color: rgba(105,105,105,0.5);
  margin: 10px 0;
}

footer h4 {
  font-size: 20px;
}
/* =====================================================
MEDIA QUERY
===================================================== */
@media (min-width: 639px) {
  .nav-desktop {

  }

}

@media (min-width: 875px) {
  .hero h1,
  .hero p {
    max-width: 100%;
  }
}




