/* =====================================================
GENERAL
===================================================== */
.wrap {
  width: 90%;
  max-width: 11000px;
  margin: 0 auto;
}

/* =====================================================
NAVIGATION MOBILE
===================================================== */




/* =====================================================
NAVIGATION DESKTOP
===================================================== */
.nav-desktop {
  height: 80px;
  padding: 0;
}

.site-logo {
  line-height: 50px;
}

.nav-desktop .menu-desktop {
  line-height: 80px;
  background-color: transparent;
}

.menu > li > a {
  display: inline-block;
  line-height: 80px;
  padding-top: 0;
  padding-bottom: 0;
}
.menu > li > a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/* =====================================================
HERO SECTION
===================================================== */
.hero {
  /*padding: top right bottom left; */
  padding: 50px 0px;
  height: 350px;
}
.hero h1,
.hero p {
  max-width: 70%;
}
.hero hr {
  max-width: 110rem;
  height: 1rem;
}
/* =====================================================
MAIN SECTION
===================================================== */
.main {
  padding: 50px 0px;
}
.main hr {
  max-width: 110rem;
  height: 2rem;
}
/* =====================================================
FOOTER
===================================================== */
footer {
  background-color: #7f7fff;
  padding: 100px 0px;
  background-image: url(../img/background/shattered.png);
  background-attachment: fixed;
}

footer a {
  display: block;
}

footer a span {
  font-weight: bold;
}

footer hr {
  border-color: black;
  border-color: rgba(105,105,105,0.5);
  margin: 10px 0;
}

footer h4 {
  font-size: 20px;
}
/* =====================================================
MEDIA QUERY
===================================================== */
@media (min-width: 639px) {
  .nav-desktop {

  }

}

@media (min-width: 875px) {
  .hero h1,
  .hero p {
    max-width: 100%;
  }
}
